body {
  color: white;
  background: black;
}

h2 {
  color: oklch(55.3% 0.195 38.402); /* mordern color format */
}

.box {
  width: 7rem;
  height: 7rem;
  /* gradient */
  background-image: radial-gradient(green, yellow);
}

.text > p {
  width: 10rem;
  color: #babadb;
}
